*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: linear-gradient(to right, #e2e2e2, #c9d6ff );
    color: #333;

 
}
.container{
    margin: 0px 15px;

}
.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #dfc1c1;
    border-radius: 10px;
    box-shadow: 0, 0, 10px rgba(0, 0, 0, 0.1);
    display: none;

}
.form-box.active{
    display: block;
}
h2
{
    margin-bottom: 20px;
    text-align: center;
    font-size: 34px;
}

input, select {
    width: 100% ;
    padding:  12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;


}
button{
      width: 100% ;
    padding:  12px;
    background: #7943ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 500;
    transform: 0.5s;

    
}
/* .select-Identity{
    display: flex;
text-align: center;
align-items: center;
display: block;
} */
button:hover{
    background: #8684d3;


}
p{
     font-size: 14.5px;
    margin-bottom: 10px;
    text-align: center;

}
p a {
    color: #7494ec;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;

}

.error-message{
  padding: 12px;
  background: #f8d7da;
  border-radius: 6px;
  font-size: 16px;
  color: #a42834;
  text-align: center;
  margin-bottom: 20px;
  
}
h1{
    font-size: 50px;

}
span{
    color: #7494ec;
}

.box p {
    font-size: 22px;
}
.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
}